<h1>ユーザー情報</h1>
<% @users.each do |user| %>
<img src="<%="/user_images/#{user.image_name}"%>">
<% end %>

<p>name:</p>
<p>adderss:</p>

<h2>投稿一覧</h2>

<%= link_to("問い合わせ","#") %>
<%= link_to("退会はこちら","#") %>