<h1>新規ユーザー登録</h1>
<p>ユーザー名</p>
<input>
<p>メールアドレス</p>
<input>
<p>パスワード</p>
<input type="password"><br><input type="password">
<p>住んでいる地域</p>
<select><option>八森地区</option><option>峰浜地区</option></select> 
<input type="submit" value="新規登録">
