<h1>新規ユーザー登録</h1>
<% @user.errors.full_messages.each do |message| %>
 <%= message %>
  <% end %>
  
  <%= form_tag("/users/create") do %>
    <p>ユーザー名</p>
    <input name="name">
    <p>メールアドレス</p>
    <input name="email">
    <p>パスワード</p>
    <input type="password" name="password">
    <p>パスワード再確認</p>
    <input type="password" name="password_confirmation">
    <p>住んでいる地域</p>
    <select name="district">
     <option value="八森地区">八森地区</option>
     <option value="峰浜地区">峰浜地区</option>
    </select> 
    <input type="submit" value="新規登録">
  <% end %>