<div class="signup">
<h1>新規ユーザー登録</h1>
<% @user.errors.full_messages.each do |message| %>
 <%= message %>
  <% end %>
  
  <%= form_tag("/users/create") do %>
    <p>ユーザー名</p>
    <input name="name">
    <p>メールアドレス</p>
    <input name="email">
    <p>パスワード</p>
    <input type="password" name="password">
    <p>パスワード再確認</p>
    <input type="password" name="password_confirmation">
    <p>住んでいる地域</p>
    <select name="district">
     <option value="県北地域">八峰町</option>
     <option value="県北地域">藤里町</option>
     <option value="県北地域">能代市</option>
     <option value="県北地域">三種町</option>
     <option value="県北地域">大館市</option>
     <option value="県北地域">北秋田市</option>
     <option value="県北地域">上小阿仁村</option>
     <option value="県北地域">小坂町</option>
     <option value="県北地域">鹿角市</option>  9
     <p>----------------------------------------</p>
     <option value="県央地域">大潟村</option>
     <option value="県央地域">八郎潟町</option>
     <option value="県央地域">井川町</option>
     <option value="県央地域">男鹿市</option>
     <option value="県央地域">潟上市</option>
     <option value="県央地域">五城目町</option>
     <option value="県央地域">秋田市</option>
     <option value="県央地域">由利本荘市</option>
     <option value="県央地域">にかほ市</option>  9
    <p>------------------------------------------</p>
     <option value="県南地域">仙北市</option>
     <option value="県南地域">大仙市</option>
     <option value="県南地域">美郷町</option>
     <option value="県南地域">横手市</option>
     <option value="県南地域">湯沢市</option>
     <option value="県南地域">羽後町</option>
     <option value="県南地域">東成瀬町</option>   7            計25
     
    </select> 
    <br>
    <br>
    <input type="submit" value="新規登録">
  <% end %>
  </div>