<br>
<h1>Haitterとは？</h>
<h2>どんな情報を共有するのか？</h2>
<p>秋田県の方言である「はいった！」とTwitterアプリを掛け合わせた、地域密着型情報共有アプリである。</p>
<p>秋田県の警報・注意報を表示する</p>
<p>登録ユーザーの投稿内容(おもわず、はいった！と口にでるようなヒヤリ、ハッとしたことを投稿。町民間の情報共有を促進する）</p>

<div class="images">
    <img class="images-item" src="https://cdn.mainichi.jp/vol1/2021/09/25/20210925k0000m040252000p/9.jpg?3">
    <img class="images-item" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Oshima_Island_20170819.jpg/1920px-Oshima_Island_20170819.jpg">
    <img class="images-item" src="https://common3.pref.akita.lg.jp/genkimura/upload/content14/14_182_51.jpg">
</div>