<br>
<h1>Haitterとは？</h>
<h2>どんな情報を共有するのか？</h2>
<p>秋田県の方言である「はいった！」とTwitterアプリを掛け合わせた、秋田県密着型情報共有アプリである。</p>
<p>秋田県の気象情報・警報・注意報を表示する</p>
<p>ユーザーのおもわず、はいった！と口にでるような出来事を投稿。ユーザー間で秋田の情報や魅力を発信・共有しよう</p>

<div class="images">
    <img class="images-item" src="https://mitane-hda.jp/wp-content/uploads/2021/02/masa.jpg">
    <img class="images-item" src="https://d1d37e9z843vy6.cloudfront.net/jp/images/3745416/cf790bdee4ff556d5c65e25d43b4ed7ed4b2f9d2.jpeg">
    
    <img class="images-item" src="https://storage.googleapis.com/recotori-prod-0820.appspot.com/review/thumbnail/r8vwEwcwRjZ28cyz06ddjLrXz4A2/4CCAE962-CBC8-4844-8968-283465068AB2.jpg">
    
    <img class="images-item" src="https://yukotabi.static.yukoyuko.net/wp-content/uploads/2019/07/29173246/3833.jpg">
    
    <img class="images-item" src="https://magazine.aruhi-corp.co.jp/wp-content/uploads/2022/10/f307bd51c5f8e1dc94d526b4163f617a.jpg">
    <img class="images-item" src="https://static.amanaimages.com/imgroom/cen3tzG4fTr7Gtw1PoeRer/01010/01010033691.jpg">
    <img class="images-item" src="https://www.tohoku.meti.go.jp/s_cyusyo/densan-ver3/img/image_odatemagewappa.jpg">
    <img class="images-item" src="https://japan47go.g.kuroco-img.app/v=1675618861/files/topics/40_ext_30_0.jpg?width=2048&quality=70">
    <img class="images-item" src="https://akita-fun.jp/assets/top/recommends-item-3-9f4e9b7930538cb38a2ad6566313dd430c0927b8403b4888398a6f7e55f74d29.jpg">
    <img class="images-item" src="https://images.keizai.biz/abeno_keizai/photonews/1614841306_b.jpg">
    <img class="images-item" src="https://nack5.biz/wp-content/uploads/tsurunoyu-main.jpg">
    <img class="images-item" src="https://www.tohokukanko.jp/lsc/upfile/spot/0100/7476/1007476_1_l.jpg">
   </div>