<br>
<br>

<h1>Haitter</h>
<h2>秋田県情報共有アプリ</h2>

<br>
<br>

<p>警報・注意報</p>
<% @data.each do |post| %>
   <% if post["content"].include?("秋田県") %>
   <p><%= post["content"] %></p>
   <% end %>
<% end %>

