<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>


<% @posts.each do |post| %>

<img src="<%= "/user_images/#{post.user.image_name}" %>">

<%= link_to(post.title, "/posts/#{post.id}") %>


<% end %>


<%= link_to("問い合わせ","/inquiry") %>
<%= link_to("退会はこちら","/resignation") %>