<h1>みんなのつぶやき</h1>
<div class="posts-index">
<% @posts.each do |post| %>
<p><%= link_to(post.title, "/posts/#{post.id}") %></p>
<% end %>
</div>
<br>
<br>
<div class="contact">
<%= link_to("問い合わせ","/inquiry") %>
<br>
<br>
<%= link_to("退会はこちら","/resignation") %>
</div>

