// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts-index {
    text-align: center;
}

.contact {
    text-align: center;
}

.posts-new {
    text-align: center;
}

.posts-api {
    text-align: center;
}

.posts-edit {
    text-align: center;
}

.posts-show {
    text-align: center;
}