// Place all the styles related to the resignatons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resignation-form {
    text-align: center;
    font-size: 18px;
}

.p {
    color: red;
}

.resignation-errors {
    text-align: center;
    color: red;
}