// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.p input,textarea {
    text-align: center;
}

.signup {
    text-align: center;
}

.login-form {
    text-align: center;
}

.users-show {
    text-align: center;
}

.users-all-index {
    text-align: center;
}

.users-edit {
    text-align: center;
}