<h1>お問い合わせ</h1>
<div class="inquiry-errors">
<% @inquiry.errors.full_messages.each do |message| %>
 <%= message %>
  <% end %>
  </div>
 <div class="inquiry-form">
<%= form_tag("/inquiry") do %>
<p>お問合せ内容</p>
<textarea name="content"></textarea>
<br>
<br>
<input type="submit" value="送信">
<% end %>
</div>